<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="[[=URL('flashcard')]]">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>
    <link rel="stylesheet" href="static/css/bulma.css">
    <link rel="stylesheet" href="static/fontawesome-free-6.4.0-web/css/all.css">
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
  <body>
    [[block before_vue]]
    [[end]]
    <div id="vue-target" v-cloak>
      <app>
        <!-- beginning of HTML inserted by extending template -->
        [[include]]
        <!-- end of HTML inserted by extending template -->
      </app>
    </div>
    [[block after_vue]]
    [[end]]

    <footer class="footer">
      <div class="content has-text-centered">
        Made with <a href="https://py4web.com">py4web</a>.
        <a href="https://learn-py4web.github.io">Learn py4web!</a>
      </div>
    </footer>
  </body>
  <script src="static/js/sugar.min.js"></script>
  <script src="static/js/axios.min.js"></script>
  <script src="static/js/vue.js"></script>
  <script src="static/js/utils.js"></script>
  <script>
    const authRegisterUrl = "[[=URL('auth/register')]]";
    const authLoginUrl = "[[=URL('auth/login')]]";
    const authLogoutUrl = "[[=URL('auth/logout')]]";
    const authChangePasswordUrl = "[[=URL('auth/change_password')]]";

    const authUrls = {
      register: authRegisterUrl,
      login: authLoginUrl,
      logout: authLogoutUrl,
      changePassword: authChangePasswordUrl
    }
    
    let authUser = null;
  </script>
  [[if globals().get('user'):]]
  <script>
    authUser = {
      username: "[[=globals().get('user').get('username')]]"
    };
  </script>
  [[pass]]
  <script>
    const rootUrl = "[[=URL('')]]";
  
    function urlFromRoot(subPath) {
      return rootUrl + subPath
    }
  
    async function loadHtml(path) {
      try {
        return (await axios.get(path)).data
      } catch (error) {
        console.error(`loadHtml "${path}" error:`, error)
        return `<div>Error loading HTML template from "${path}"</div>`
      } 
    }
  
  </script>
  <script type="module">
    import App from './static/js/components/app.js';
    [[block imports]]
    [[end]]
    async function init() {
      const { createApp } = Vue;
  
      const app = createApp({
        components: {
          App,
          [[block components]]
          [[end]]
        },
      });
  
      app.mount('#vue-target');
    }
  
    init();
  
  </script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
