<!-- A deck to display. -->
<div class="box">
  <!-- Favorited status of the deck (icon). -->
  <div class="columns is-gapless mb-1">
    <div class="column is-one-fifth">
      <a v-if="info.is_favorite !== undefined" @click="toggleFavorite()">
        <span class="icon is-small mr-2">
          <i :class="'fa-' + (info.is_favorite ? 'solid' : 'regular') + ' fa-star'"></i>
        </span>
      </a>
    </div>
  </div>
  
  <!-- Deck header information. -->
  <div class="columns">
    <!-- Deck title and author. -->
    <div class="column is-two-thirds">
      <div class="is-flex">
        <a class="title is-3 has-text-link" 
           style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
           :href="deckUrl">
          {{info.title}}
        </a>
      </div>
      <p class="subtitle is-6">
        By {{info.author}}
      </p>
    </div>

    <!-- Deck information (number of cards, last modified). -->
    <div class="column is-one-third">
      <div class="is-flex is-pulled-right">
        <p class="title is-3" v-if="info.num_cards != 1">
          {{info.num_cards}} cards
        </p>
        <p class="title is-3" v-else>
          {{info.num_cards}} card
        </p>
      </div>
      <p class="subtitle is-6 is-pulled-right">
        Last updated: {{info.modified}}
      </p>
    </div>
  </div>

  <!-- Deck description. -->
  <div class="block is-flex">
    <div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
      {{info.description}}
    </div>
  </div>

  <!-- Deck tags. -->
  <div class="tags">
    <span class="tag" v-for="tag in info.tags">
      {{tag}}
    </span>
  </div>
</div>
