<div class="field">
  <nav class="navbar">
    <!-- <div class="navbar-brand">
      <h1 class="title">Flashcard App</h1>
    </div> -->
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a :href="decksUrl" class="button block">Library</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Search bar and associated buttons and menus. -->
  <div class="field has-addons">
    <!-- Drop-down menu for search mode. -->
    <div class="control">
      <span class="select">
        <select name="mode" id="mode">
          <option value="author">Author</option>
          <option value="tag">Tag</option>
          <option selected="selected" value="title">Title</option>
        </select>
      </span>
    </div>

    <!-- Search input bar. -->
    <div class="control is-expanded">
      <input class="input block" type="text" placeholder="Search..." v-model="search" v-on:keyup.enter="getDecks()" @input="resetSearchTimeout()">
    </div>
    <div class="control">
      <button class="button is-info" v-on:click="clearSearch()">
        <span> X </span>
      </button>
    </div>
    <div class="control">
      <button class="button is-link" v-on:click="getDecks()">
        <span> Search </span>
      </button>
    </div>
  </div>

  <!-- Deck results, implemented as a custom Vue component. -->
  <deck-item v-for="deck in decks" :info="deck" :key="deck.id"></deck-item>

</div>